@font-face{
  font-family: "FarFromHomeming";
  src: url("/fonts/Typo-FarFromHomecoming.woff2")
  format("woff2");

} 
body{
	background-image:url("C:/Users/B_store/Documents/SAYNA-DIGITALAFRICA-TEST/assets/Illustration/img1.png");
	background-repeat: no-repeat;
	background-color: #B11313;
}
h1{
	font-size: 32px ;
	color: white ;
	font-family: "FarFromHomecoming";
}
h2{
	font-size: 20px ;
	color: white ;
	font-family: 'Montserrat',Bold;
}
h3{
	font-size: 17px;
	color: white ;
	font-family: 'Montserrat',Bold;
}
a{
	color: white;
	text-decoration: none;
}
nav{
	min-height: 10vh;
display: flex;
align-items: center;
width: 90%;
margin: auto;
padding: 2rem;
}
nav ul{
display: flex;
flex: 1 1  40rem;
justify-content: space-around;
align-items: center;
list-style: none;

}
nav div{
	display: flex;
flex: 1 1  40rem;
justify-content: space-around;
align-items: center;
}
span{
	font-size: 16px;
	color: white ;
	font-family:'Montserrat',Medium ;
}
p{
	font-size: 14px;
	color: white ;
	font-family:'Montserrat', ;
}
.main-head{
	background-color: #B11313;
	color: white ;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.block{
width: 75px;
margin: 50px auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 30px;
}
.card{
box-shadow: 0px 4px 8px  0px;
}
img{
	width: 100%;
}
.content{
text-align: center;
padding: 10px;
}
.content p{
	margin-top: 10px;
	color: white;
}

.content a{
	margin-top: 10px;
	text-decoration: none;
	display: inline-block;
	background-color: #fff;
	color: #fff;
	font-size: 14px;
	padding: 18px;
	border-radius: 10px;
	letter-spacing: 1.5px;
}
#logo1{
	min-width:10% ;
	min-height: 20%;
	}
#logo2{
	min-width:10% ;
	min-height: 20%;
}
#logo3{
	min-width: 10%;
	min-height: 10%;
}
.form{
	width: 250px;
	height: 200px;
	margin: 50px auto;
	
	background-color: #114C92;
	color: white;
}